@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --body-color: #f7f7f7;
}

.dark {
  --text-color: #f7f7f7;
  --body-color: #000;
}

.app {
  color: var(--text-color);
  background-color: var(--body-color);
  transition: 0.3s ease;
}

.toggle {
  @apply inline-block w-6 h-6;

  border-radius: 50px;
  border-width: 2px;
  border-color: var(--text-color);
  right: 2rem;
}

.toggle input {
  display: none;
}

.header_logo {
  fill: var(--text-color);
}
.banner {
  @apply flex items-center pt-40 justify-center w-full;

  @screen lg {
    @apply h-screen py-64;
  }

  &__title {
    @apply text-3xl font-extrabold leading-tight;

    @screen lg {
      @apply text-6xl;
    }
  }

  &__wrapper {
    @apply w-full;

    @screen lg {
      @apply w-3/5;
    }
  }
}

.split--white {
  @apply w-full py-16 justify-center;

  @screen lg {
    @apply w-1/2 h-screen;
  }
}

.break {
  border-color: var(--text-color);
}
