@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

.banner {
  @apply bg-white flex items-center h-64 py-64 justify-center w-full;

  @screen lg {
    @apply h-screen;
  }

  &__title {
    @apply text-black text-5xl font-extrabold leading-tight;

    @screen lg {
      @apply text-6xl;
    }
  }
}

.split--white {
  @apply w-full bg-white py-16 justify-center;

  @screen lg {
    @apply w-1/2 h-screen;
  }
}

.split--pink {
  @apply w-full bg-primary text-center items-center justify-center flex;

  @screen lg {
    @apply w-1/2 h-screen;
  }
}

.split--black {
  @apply w-full bg-black text-center items-center justify-center flex;

  @screen lg {
    @apply w-1/2 h-screen;
  }
}

.spacey {
  @apply text-2xl;

  a {
    background-image: linear-gradient(110deg, #f7aef8, #b388eb, #8093f1, #72ddf7, #f4f4ed);
    background-size: 0 10%;
    background-repeat: no-repeat;
    background-position: left bottom;
    display: inline;
    transition: 0.5s ease;
  }

  &:hover {
    a {
      background-size: 100% 10%;
    }
  }
}

.black__title {
  @apply text-4xl;

  @screen lg {
    @apply text-6xl;
  }

  transform: rotate(90deg);
}

.black__list {
  li {
    @screen lg {
      @apply text-5xl;
    }
  }
}

.pink__title {
  @apply text-4xl;

  @screen lg {
    @apply text-6xl;
  }
  transform: rotate(-90deg);
}
